################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/*.log.txt
/*.png
/bin
/obj/Debug
/Q12/Q12.vcxproj.user
/Q12/.vs
/images
